<section>
    <div class="grid place-items-center justify-center h-[80vh] ">
        <div class="p-3 w-80 md:w-96 bg-[#E0E2EC] hover:shadow-lg rounded-lg">
            <h1 class="text-2xl font-medium text-gray-700 text-center pb-3">Login</h1>
            <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="grid grid-cols-1">
                <mat-form-field class="example-full-width">
                    <mat-label>Email ID</mat-label>
                    <input matInput formControlName="email" placeholder="Ex. example@gmail.com">
                    @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
                    <mat-error class="text-[#93000A] text-sm">
                        @if (loginForm.get('email')?.errors?.['required']) {
                        Please enter your email
                        }
                        @if (loginForm.get('email')?.errors?.['email']) {
                        Please enter a valid email ID
                        }
                    </mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" placeholder="*******">
                    @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
                    <mat-error class="text-[#93000A] text-sm">
                        @if (loginForm.get('password')?.errors?.['required']) {
                        Please enter your password
                        }
                        @if (loginForm.get('password')?.errors?.['password']) {
                        Please enter minimum 6 digit password
                        }
                    </mat-error>
                    }
                </mat-form-field>
                <button mat-button type="submit" class="bg-white mt-3"><mat-icon>login</mat-icon> Login</button>
                <div class="py-1">
                    <a routerLink="/signup" class="text-blue-600 hover:underline">Create an account?</a>
                </div>
            </form>
        </div>
    </div>
</section>